.character-icon {
  width: 150px;
  border-radius: 10px;
  margin: 2px 0;
  background: #ffffff9b;
  cursor: pointer;
  transition: 0.9s ease;
}

.character-icon:hover {
  filter: grayscale(1);
  transition: 0.7s ease;
  scale: 1.02;
}
#sidebar {
  height: 100%;
  position: absolute;
  left: -100%;
  width: fit-content;
  z-index: 2;
}

.navigation-sidebar::-webkit-scrollbar {
  width: 9px;
  margin: 12px 0;
}

.navigation-sidebar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.25);
}

.navigation-sidebar::-webkit-scrollbar-thumb {
  background: #ffffff9b;
  border-radius: 90px;
}

.container-sidebar {
  height: 100%;
}

.navigation-sidebar {
  height: 100%;
  overflow-y: scroll;
  width: fit-content;
  padding: 20px;
  list-style: none;
}

.slideIn {
  animation: slideIn 0.8s forwards;
}

@keyframes slideIn {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
